.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  a {
    text-decoration: none;
    color: inherit;
  }
}
