.cards {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.error {
  font-weight: bold;
}
