.card__btn {
  background-color: teal;
  color: white;
  border-radius: 22.5px;
  font-weight: bold;
}
.atributes {
  background-color: teal;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
.card__img {
  border-radius: 10px;
}
.flex {
  display: flex;
}
.card {
  text-decoration: none;
}
