.container {
  display: flex;
  justify-content: center;
}
.modal {
  width: 50%;
  background-color: teal;
  color: white;
  margin: 0rem 1.5rem;
  border-radius: 22.5px;
}
// .modal__header {
//   text-decoration: none;
// }
.card__detail {
  list-style: none;
  font-weight: bold;
}
.return {
  font-size: 1.5rem;
  background-color: white;
  color: black;
  border-radius: 10px;
}
