.card__btn {
  background-color: white(110, 44, 44);
  color: teal;
  border-radius: 22.5px;
  font-weight: bold;
}
.card {
  text-decoration: none;
  background-color: teal;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
